
@{
    ViewData["Title"] = "EquipmentPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Equipment Page</h1>*@
@*<div class="text-center">
        <div class="col-md-12">
            <div class="dt-body-center bg-dark">
                <div class="form-group bg-primary text-center text-light">
                    <h2> @ViewData["Title"] </h2>
                </div>

            </div>
        </div>
    </div>*@

<div style="height:70px; background-color: red;">
    <h1 align="text-left">
        <!--HomeFitness located sa right, LOGO located sa left-->
        <font face="Arial" size="7" color="White">HomeFitness</font> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <font face="Arial" size="7" color="White">LOGO</font>
    </h1>
</div>
<div style="background-color: black; height:40px;">
    <h2 align="center">
        <font face="Arial" size="4" color="White">
            <!--put spaces every item-->
            <a href="~/Home/Index"><font face="Arial" size="4" color="White">Home</font></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href=""><font face="Arial" size="4" color="White">Equipments</font></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href=""><font face="Arial" size="4" color="White">Workouts</font></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href=""><font face="Arial" size="4" color="White">Contact Us</font></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href=""><font face="Arial" size="4" color="White">Cart</font></a>
        </font>
    </h2>
</div>
<div class="container" style="height:500px; background-color: White;">
    <h1 align="center">
        <font face="Arial" size="3" color="black">
            Equipment Page
        </font>
    </h1>
    <div id="info">
<div class="img">
    <img src="~/Downloads/dumbell1.jpg" height="10" width="10"> 
    <div class="img-desc">
        <h4><b>IMAGE</b></h4>
        <p>25 KG Dumbells</p>
        <p><b>Price: </b>Php5000</p>
        <button style="background-color:red;">Add to cart</button>
      
        <div class="img">
            <img src="~/Downloads/dumbell1.jpg" height="10" width="10">
            <div class="img-desc">
                <h4><b>IMAGE</b></h4>
                <p>Onetwofit Weight Set Barbell</p>
                <p><b>Price: </b>Php5899</p>
                <button style="background-color:red;">Add to cart</button>
                
                <div class="img">
                    <img src="~/Downloads/dumbell1.jpg" height="10" width="10">
                    <div class="img-desc">
                        <h4><b>IMAGE</b></h4>
                        <p>Electric Flat Treadmill</p>
                        <p><b>Price: </b>Php7899</p>
                        <button style="background-color:red;">Add to cart</button>

                            </div>
                        </div>
                    </div>
        </div>
    </div>
        </div>

    </div>
            <!--Toby, please put your codes here for equipment page-->
            <!--Pictures of equipment sa left tas NameOfEquipemnt, DescriptionOfEquipment, and Price sa right side-->

        </div>
        <div style="height:70px; background-color: red;">
            <h1 aligh="left upper">
                <font face="Arial" size="5" color="White">Your one click fitness buddy</font>
            </h1>
        </div>
