
@{
    ViewData["Title"] = "WorkoutPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>WorkoutPage</h1>*@

<div style="height:70px; background-color: red;">
    <h1 align="text-left">
        <!--HomeFitness located sa right, LOGO located sa left-->
        <font face="Arial" size="7" color="White">HomeFitness</font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <font face="Arial" size="7" color="White">LOGO</font>
    </h1>
</div>
<div style="background-color: black; height:40px;">
    <h2 align="center">
        <font face="Arial" size="4" color="White">
            <!--put spaces every item-->
            <a href="~/Home/Index"><font face="Arial" size="4" color="White">Home</font></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href=""><font face="Arial" size="4" color="White">Equipments</font></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href=""><font face="Arial" size="4" color="White">Workouts</font></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href=""><font face="Arial" size="4" color="White">Contact Us</font></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href=""><font face="Arial" size="4" color="White">Cart</font></a>
        </font>
    </h2>
</div>
<div class="container" style="height:500px; background-color: White;">
    <h1 align="center">
        <font face="Arial" size="3" color="black">
            Workout Page
        </font>
    </h1>

    <a href="/" title="HOME - HTML Code Tutorials"><font face="Arial" size="10">Easy and Basic Workouts You Could Do At Home</font></a><br>

    Best Way To Start For Beginners : https://www.youtube.com/watch?v=Yq3EMpaRPcE <br>
    Best Way To Start Working Out From Home : https://www.youtube.com/watch?v=3O6WUADm5q8 <br />
    Replace Treadmill With This 10 Min HIIT/CARDIO Workout : https://www.youtube.com/watch?v=edIK5SZYMZo <br />
    LEGS And GLUTES Home Workout : https://www.youtube.com/watch?v=_hIFF8G-BG0 <br />
    20 Best Exercises You Can Do From Home | No Weights : https://www.youtube.com/watch?v=shSxVi7xFfA
    <!--Toby, please put your codes here for Workout page-->
    <!--Please include links for workout videos-->

</div>
<div style="height:70px; background-color: red;">
    <h1 aligh="left upper">
        <font face="Arial" size="5" color="White">Your one click fitness buddy</font>
    </h1>
</div>